# Arquivos temporários
*~
*.swp
*.bak
*.backup
*.log
*.log.*
*.tmp

# Diretórios de compilação
bin/
obj/

# Dependências geradas
node_modules/
vendor/

# Arquivos de configuração
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
.envrc
.env.*.rc

# Arquivos de build e caches
/build/
/dist/
/node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/.pnp/
.pnp.js

# Logs e caches de desenvolvimento
logs/
.cache/
tmp/
.temp/
thumbs/
.vscode/
.idea/
.project
.settings/
*.sublime-workspace
*.sublime-project

# Dependendo do seu ambiente de desenvolvimento e ferramentas, você pode precisar adicionar mais exclusões aqui
# Certifique-se de personalizar isso para o seu projeto específico.
